@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.SearchFields {
  margin: 20px auto;
  padding-top: 80px;
  padding-bottom: 10px; 
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 3px #ccc;
}


@media (min-width: 600px) {
    .SearchFields {
        width: 750px;
    }
}

.Search {
  width: 100%;
  position: relative;
  display: flex;
}

.SearchTerm {
  width: 70%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 34px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 18px;
}

.SearchTerm:focus{
  color: #808080;
}

.SearchButton {
  width: 60px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.Wrap{
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SelectBox {
  width: 40%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: #808080;
  margin-right: 40px;
  font-size: 16px;
}

.SelectBox:focus{
  color: #00B4CC;
}

.SearchFields p {
  padding-bottom: 20px;
  font-size: 16px;
  color:#808080;
}
