.SemanticWords {
    margin: 20px 2px;
    padding: 20px 10px;
    background-color: #fdfdfd;
    display: flex;
    border-top:  1px solid #808080;
}

.SemanticWords ul li{
    float: left;
    width: 20%;
}

.SemanticWords ul {
    list-style-type: disc;
    list-style: none;
    text-align: center;
    align-items: center;
}

.SemanticWords li {
    padding: 4px;
    margin: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.SemanticWords li:hover {
    box-shadow: 0 2px 3px #005a66;
    cursor: pointer;
}

@media (max-width: 500px) {
    .SemanticWords ul li{
        float: left;
        width: 40%;
    }
}

